name: CI - Test
on:
  pull_request:
    branches:
      - dev
      - production
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run lints
      run: yarn lint
    - name: Run tests
      run: yarn test
      env:
        APP_PORT: ${{ secrets.APP_PORT }}
